/*.burger-btn-wrapper {
  transform: scale(2);
}*/

.burger-btn {
  width: 50px;
  overflow: hidden;
  //border: 1px solid red;
}

.burger-btn__label {
  position: relative;
  display: block;
  height: 29px;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 5px;
    background-color: hotpink;

    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  }

  &::before {
    top: 0;
  }
  &::after {
    top: 50%;
    transform: translateY(-50%);
  }
}

.burger-btn__text {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: hotpink;
  bottom: 0;

  &::before {
    position: absolute;
    right: 0;
    left: 0;
    content: 'MENU';
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: hotpink;
  }
}

#burger-btn__checkbox {
  display: none;

  &:checked + .burger-btn__label:before {
    left: -100%;
  }
  &:checked + .burger-btn__label:after {
    left: 100%;
  }
  &:checked + .burger-btn__label .burger-btn__text:before {
    animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
  }
}

@keyframes moveUpThenDown {
  0% { top:0; }
  50% { top:-27px;}
  100% { top:-18px; }
}

@keyframes shakeWhileMovingUp {
  0% { transform: rotateZ(0); }
  25% { transform:rotateZ(-10deg); }
  50% { transform:rotateZ(0deg); }
  75% { transform:rotateZ(10deg); }
  100% { transform:rotateZ(0); }
}

@keyframes shakeWhileMovingDown {
  0% { transform:rotateZ(0); }
  80% { transform:rotateZ(3deg); }
  90% { transform:rotateZ(-3deg); }
  100% { transform:rotateZ(0); }
}
