/* ----------- SHARED STARTS---------- */
.main-container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

.main-section {
  width: 100%;
  margin: 0 auto;
}

.main-section--block {
  position: relative;
  padding: 50px 15px;
}

.content-wrapper {
  background-color: inherit;
}

.main-info {
  display: flex;
  align-items: center;
}

.main-info__inner {
  display: flex;
}

.main-info__left,
.main-info__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-info__left {
  padding: 30px;
  align-items: flex-start;
}

.invert-sides {
  .main-info__left {
    order: 2;
  }
  .main-info__right {
    order: 1;
  }
}

.img-basic {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
}

.img-basic--mob {
  max-width: 220px;
}

.img-basic--tab {
  max-width: 250px;
}

.img-basic--buds {
  max-width: 140px;
}

.img-basic--watch {
  max-width: 160px;
}

picture {
  display: flex;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.sm-btn-basic {
  width: 100%;
  max-width: 180px;
  color: #000000;
  padding: 6px 25px;
  margin: 15px 0 0 0;

  font-family: sans-serif;
  text-align: center;
  font-weight: bold;

  background-color: #ffffff;
  border: 2px solid #000000;

  /*background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);*/

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  &:hover {
    box-shadow: 0 0.6em 0.6em -0.3em #30271f;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
    /*background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;*/
    transition: all .2s ease-in-out;
  }
  &:active {
    box-shadow: none;
    font-size: 15px;
    transition: all .05s ease-in-out;
  }

  &.white {
    background-color: #ffffff;
    color: #000000;
    border: none;
    margin: 10px 0;
  }
  &.white:hover {
    border: 1px solid #000000;
  }

  &.blue {
    background-color: #1d89ff;
    color: #ffffff;
    border: none;
    margin: 10px 0;
  }
  &.blue:hover {
    background-color: #ffffff;
    border: 1px solid #1d89ff;
    color: #1d89ff;
  }
}

.sm-btn-basic--purchase {
  background-color: #275efe;
  border-color: #275efe;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: lighten(#1428A0, 5%);
    border-color: lighten(#1428A0, 10%);
  }
  &:active {
    background-color: lighten(#1428A0, 15%);
  }
}

.sm-btn-basic--partners {
  max-width: 115px;
  padding: 7px 15px;

  &:hover,
  &:focus {
    background-color: #171717;
    border-color: #171717;
  }
  &:active {
    background-color: lighten(#171717, 15%);
  }
}

.sm-btn-basic.disabled {
  pointer-events: none;
  background-color: lighten(#a0a0a0, 15%);
  border-color: lighten(#a0a0a0, 15%);
  color: white;
  filter: grayscale(1);
}

.legal-text {
  font-family: $font-text;
  text-align: left;
  color: #a0a0a0;
  font-size: 12px;

  a {
    color: blue;
  }
}

.main-title--h1,
.main-title--h2,
.main-title--h3,
.main-title--h4,
.main-title--h5 {
  font-family: $font-title;
  font-weight: bold;
  text-align: center;
  //margin-bottom: 40px;
}

.main-title--left {
  text-align: left;
}

.main-title--h1 {
  @include adaptive-font(46, 28);
}

.main-title--h2 {
  @include adaptive-font(41.4, 25.2);
}

.main-title--h3 {
  @include adaptive-font(37.26, 22.68);
}

.main-title--h4 {
  @include adaptive-font(33.534, 20.412);
}

.main-title--h5 {
  @include adaptive-font(30.181, 18.371);
}

.main-text {
  font-family: $font-text;
  @include adaptive-font(18, 16);
  line-height: 26px;

  &:not(.main-text:last-child) {
    margin-bottom: 20px;
  }
}

.main-text--center  {
  text-align: center;
}

.bg-gray {
  background-color: #f8f8f8;
}
/* ----------- SHARED ENDS---------- */




/* ---------- PROJECT STARTS---------- */

/* ---------- PROJECT ENDS------------ */




/* ---------- MEDIA STARTS---------- */
@media screen and(max-width: 768px) {
  .main-info__inner {
    flex-direction: column;
  }

  .main-info__left,
  .main-info__right {
    width: 100%;
  }

  .main-info__left {
    align-items: center;
  }

  .main-text {
    text-align: center;
    line-height: 22px;
  }

  .invert-sides {
    .main-info__left {
      order: 1;
    }
    .main-info__right {
      order: 2;
    }
  }

  .tabs-shifters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tabs-link-rules,
  .tabs-shifters__item {
    margin: 0 0 10px 0;
  }
}

// above 1440px
@include media-1441 {
  .main-title--h1 {
    font-size: 46px;
  }

  .main-title--h2 {
    font-size: 41.4px;
  }

  .main-title--h3 {
    font-size: 37.26px;
  }

  .main-title--h4 {
    font-size: 33.534px;
  }

  .main-title--h5 {
    font-size: 30.181px;
  }

  .main-text {
    font-size: 18px;
  }

  .call-for-action {
    font-size: 18px;
  }

  .promo-rules__text {
    font-size: 22px;
  }

  .tabs-link-rules,
  .tabs-shifters__item {
    font-size: 18px;
  }
}
/* ----------- MEDIA ENDS ----------- */
